<!--//todo: POR EL MOMENTO, PULSO, NO SIRVE-->
<div>
    <a class="icon" href=""><img  src="../../../assets/facebook.png" alt="Facebook"></a>
    <a class="icon"  href=""><img  src="../../../assets/telegram.png" alt="Telegram"></a>
    <a class="icon" href="https://www.instagram.com/diam.barraza/"><img src="../../../assets/instagram.png" alt="Instagram"></a>
    <a class="icon" href=""><img  src="../../../assets/gmail.png" alt="Gmail"></a>
    <a class="icon" href=""><img  src="../../../assets/github.png" alt="Github"></a>
</div>
